.wrapper {
	font-size: 16px;
}
.col {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.footer__bar > .container > .row {
	margin-bottom: 0;
}
.bullet-point-container {
	margin-left: 2em;
	margin-top: 0;
	margin-bottom: 0;
}
.bullet-point {
	list-style-type: disc;
	list-style-position: inside;
	list-style-image: none;
}
.text-container {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: justify;
}

.navigation {}
.navigation__bar {
	background-color: #f0f0f0;
}
.navigation__items {
	text-align: center;
}
.navigation__item {
	float: none;
	display: inline-block;
}
.navigation__item__icon {
	color: #999999;
}
.navigation__item__icon:hover {
	color: #00247d;
	background-color: #f0f0f0;
}

.title {
	border-bottom-style: solid;
	border-bottom-width: .1em;
	border-bottom-color: #e5e5e5;
}
.title__container {}
.title__header {
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 700;
	letter-spacing: .3em;
	color: #00247d;
	text-transform: uppercase;
	text-align: center;
	text-shadow: .05em .075em 0 rgba(0, 0, 0, .1);
	padding-bottom: .2em;
}
.title__motto {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	letter-spacing: .2em;
	color: #999999;
	text-transform: uppercase;
	text-align: center;
}

.idea {
	border-bottom-style: solid;
	border-bottom-width: .1em;
	border-bottom-color: #e5e5e5;
}
.idea__container {}
.idea__header {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	letter-spacing: .1em;
	color: #999999;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1em;
}
.idea__content {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	color: #999999;
}

.location {
	border-bottom-style: solid;
	border-bottom-width: .1em;
	border-bottom-color: #e5e5e5;
}
.location__container {}
.location__header {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	letter-spacing: .1em;
	color: #999999;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1em;
}
.location__content {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	color: #999999;
}
.location__map {
	border-style: solid;
	border-width: .1em;
	border-color: #e5e5e5;
}

.calendar {
	border-bottom-style: solid;
	border-bottom-width: .1em;
	border-bottom-color: #e5e5e5;
}
.calendar__container {}
.calendar__header {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	letter-spacing: .1em;
	color: #999999;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1em;
}
.calendar__content {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	color: #999999;
}
.calendar__body {
	min-width: 12em;
	border-style: solid;
	border-width: .1em;
	border-color: #e5e5e5;
}
.calendar__header__date {
	background-color: #003399;
}
.calendar__header__week-day {
	background-color: #00247d;
}
.calendar__picker__date {}
.calendar__picker__date--selected {
	color: #003399;
	font-weight: 700;
}
.calendar__picker__date--selected:hover {
	color: #00247d;
	font-weight: 700;
}

.team {
	border-bottom-style: solid;
	border-bottom-width: .1em;
	border-bottom-color: #e5e5e5;
}
.team__container {}
.team__header {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	letter-spacing: .1em;
	color: #999999;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1em;
}
.team__content {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	color: #999999;
}
.team-member__photo__container {
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}
.team-member__photo__image {
	border-style: solid;
	border-width: .1em;
	border-color: #e5e5e5;
}
.team-member__photo__link {
	display: inline-block;
	cursor: pointer;
}
.team-member__name {
	font-size: 1em;
	letter-spacing: .1em;
	text-transform: uppercase;
}
.team-member__about {}

.footer {}
.footer__bar {
	background-color: #f0f0f0;	
}
.footer__copyright {
	font-size: 1em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	color: #999999;
	padding-top: 1.4em;
	padding-bottom: 1.4em;
	text-align: center;
	border-top-style: solid;
	border-top-width: .1em;
	border-top-color: #e5e5e5;
}
.footer__contacts__facebook {
	color: #999999;
	font-size: 1.5rem;
}
.footer__contacts__facebook:hover {
	color: #3b5998;
}
.footer__contacts__facebook__link {
	color: #999999;
	font-size: .8em;
}
.footer__contacts__phone {
	color: #999999;
	font-size: 1.5rem;
}
.footer__contacts__phone:hover {}
.footer__contacts__phone__link {
	color: #999999;
	font-size: .8em;
}
.footer__contacts__email {
	color: #999999;
	font-size: 1.5rem;
}
.footer__contacts__email:hover {}
.footer__contacts__email__link {
	color: #999999;
	font-size: .8em;
}

@media screen and (min-width: 1280px) {
	.navigation__item {
		width: 8em;
	}
	.title__container {
		padding-top: 9em;
		padding-bottom: 9em;
	}
	.title__header {
		font-size: 4em;
	}
	.title__motto {
		font-size: 1.5em;
	}
	.idea__container {
		padding-top: 7em;
		padding-bottom: 7em;
	}
	.idea__header {
		font-size: 2em;
	}
	.idea__content {
		font-size: 1.1em;
	}
	.location__container {
		padding-top: 7em;
		padding-bottom: 7em;
	}
	.location__header {
		font-size: 2em;
	}
	.location__content {
		font-size: 1.1em;
	}
	.location__map {
		height: 500px;
	}
	.calendar__container {
		padding-top: 7em;
		padding-bottom: 7em;
	}
	.calendar__header {
		font-size: 2em;
	}
	.calendar__content {
		font-size: 1.1em;
	}
	.team__container {
		padding-top: 7em;
		padding-bottom: 7em;
	}
	.team__header {
		font-size: 2em;
	}
	.team__content {
		font-size: 1.1em;
	}
	.calendar__description {
		padding-left: 1em;
	}
	.team-member__photo__image {
		width: 15em;
		height: 15em
	}
	.team-member__about {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 993px) and (max-width: 1279px) {
	.navigation__item {
		width: 6em;
	}
	.title__container {
		padding-top: 7em;
		padding-bottom: 7em;
	}
	.title__header {
		font-size: 3.2em;
	}
	.title__motto {
		font-size: 1.3em;
	}
	.idea__container {
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.idea__header {
		font-size: 1.8em;
	}
	.idea__content {
		font-size: 1.1em;
	}
	.location__container {
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.location__header {
		font-size: 1.8em;
	}
	.location__content {
		font-size: 1.1em;
	}
	.location__map {
		height: 450px;
	}
	.calendar__container {
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.calendar__header {
		font-size: 1.8em;
	}
	.calendar__content {
		font-size: 1.1em;
	}
	.team__container {
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.team__header {
		font-size: 1.8em;
	}
	.team__content {
		font-size: 1.1em;
	}
	.calendar__description {
		padding-left: 1em;
	}
	.team-member__photo__image {
		width: 12em;
		height: 12em
	}
	.team-member__about {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 601px) and (max-width: 992px) {
	.navigation__item {
		width: 5em;
	}
	.title__container {
		padding-top: 6em;
		padding-bottom: 6em;
	}
	.title__header {
		font-size: 2.4em;
	}
	.title__motto {
		font-size: 1.1em;
	}
	.idea__container {
		padding-top: 4em;
		padding-bottom: 4em;
	}
	.idea__header {
		font-size: 1.7em;
	}
	.idea__content {
		font-size: 1em;
	}
	.location__container {
		padding-top: 4em;
		padding-bottom: 4em;
	}
	.location__header {
		font-size: 1.7em;
	}
	.location__content {
		font-size: 1em;
	}
	.location__map {
		height: 400px;
	}
	.calendar__container {
		padding-top: 4em;
		padding-bottom: 4em;
	}
	.calendar__header {
		font-size: 1.7em;
	}
	.calendar__content {
		font-size: 1em;
	}
	.team__container {
		padding-top: 4em;
		padding-bottom: 4em;
	}
	.team__header {
		font-size: 1.7em;
	}
	.team__content {
		font-size: 1em;
	}
	.calendar__description {
		padding-left: 1em;
	}
	.team-member__photo__image {
		width: 9em;
		height: 9em
	}
	.team-member__about {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 0) and (max-width: 600px) {
	.navigation__item {
		width: 4em;
	}
	.title__container {
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.title__header {
		font-size: 1.6em;
	}
	.title__motto {
		font-size: .9em;
	}
	.idea__container {
		padding-top: 3em;
		padding-bottom: 3em;
	}
	.idea__header {
		font-size: 1.6em;
	}
	.idea__content {
		font-size: 1em;
	}
	.location__container {
		padding-top: 3em;
		padding-bottom: 3em;
	}
	.location__header {
		font-size: 1.6em;
	}
	.location__content {
		font-size: 1em;
	}
	.location__map {
		height: 350px;
	}
	.calendar__container {
		padding-top: 3em;
		padding-bottom: 3em;
	}
	.calendar__header {
		font-size: 1.6em;
	}
	.calendar__content {
		font-size: 1em;
	}
	.team__container {
		padding-top: 3em;
		padding-bottom: 3em;
	}
	.team__header {
		font-size: 1.6em;
	}
	.team__content {
		font-size: 1em;
	}
	.calendar__description {
		padding-left: 0em;
	}
	.team-member__photo__image {
		width: 15em;
		height: 15em
	}
	.team-member__about {
		padding-bottom: 2em;
	}
}
