.wrapper {
	font-size: 16px;
}

.navigation {}
.navigation__bar {
	background-color: #f0f0f0;
}
.navigation__items {
	text-align: center;
}
.navigation__item {
	float: none;
	width: 6em;
	display: inline-block;
}
.navigation__item__icon {
	color: #999999;
}
.navigation__item__icon:hover {
	color: #00247d;
	background-color: #f0f0f0;
}

.title {
	border-bottom-style: solid;
	border-bottom-width: .1em;
	border-bottom-color: #e5e5e5;
}
.title__container {
	padding-top: 6em;
	padding-bottom: 6em;
}
.title__header {
	font-size: 3.2em;
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 700;
	letter-spacing: .3em;
	color: #00247d;
	text-transform: uppercase;
	text-align: center;
	text-shadow: .05em .075em 0 rgba(0, 0, 0, .1);
	padding-bottom: .2em;
}
.title__motto {
	font-size: 1em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	letter-spacing: .2em;
	color: #999999;
	text-transform: uppercase;
	text-align: center;
}

.idea {
	border-bottom-style: solid;
	border-bottom-width: .1em;
	border-bottom-color: #e5e5e5;
}
.idea__container {
	padding-top: 7em;
	padding-bottom: 7em;
}
.idea__header {
	font-size: 2em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	letter-spacing: .1em;
	color: #999999;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1em;
}
.idea__content {
	font-size: 1em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	color: #999999;
	text-align: justify;
}

.location {
	border-bottom-style: solid;
	border-bottom-width: .1em;
	border-bottom-color: #e5e5e5;
}
.location__container {
	padding-top: 7em;
	padding-bottom: 7em;
}
.location__header {
	font-size: 2em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	letter-spacing: .1em;
	color: #999999;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1em;
}
.location__content {
	font-size: 1em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	color: #999999;
}
.location__description {
	text-align: justify;
}
.location__description--padding-top {
	padding-top: 2em;
}
.location__description--padding-bottom {
	padding-bottom: 2em;
}
.location__map {
	border-style: solid;
	border-width: .1em;
	border-color: #e5e5e5;
	height: 500px;
}

.calendar {
	border-bottom-style: solid;
	border-bottom-width: .1em;
	border-bottom-color: #e5e5e5;
}
.calendar__container {
	padding-top: 7em;
	padding-bottom: 7em;
}
.calendar__header {
	font-size: 2em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	letter-spacing: .1em;
	color: #999999;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1em;
}
.calendar__content {
	font-size: 1em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	color: #999999;
}
.calendar__description {
	text-align: justify;
}
.calendar__body {
	max-width: 22em;
	border-style: solid;
	border-width: .1em;
	border-color: #e5e5e5;
}
.calendar__header__date {
	background-color: #003399;
}
.calendar__header__week-day {
	background-color: #00247d;
}
.calendar__picker__date {}
.calendar__picker__date--selected {
	background-color: #003399;
}
.calendar__picker__date--selected:hover {
	background-color: #00247d;
}

.team {
	border-bottom-style: solid;
	border-bottom-width: .1em;
	border-bottom-color: #e5e5e5;
}
.team__container {
	padding-top: 7em;
	padding-bottom: 7em;
}
.team__header {
	font-size: 2em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	letter-spacing: .1em;
	color: #999999;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1em;
}
.team__content {
	font-size: 1em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	color: #999999;
}
.team__description {
	text-align: justify;
}
.team__description--padding-top {
	padding-top: 2em;
}
.team__description--padding-bottom {
	padding-bottom: 2em;
}
.team-member__photo__container {
	text-align: center;
}
.team-member__photo__image {
	border-style: solid;
	border-width: .1em;
	border-color: #e5e5e5;
	width: 15em;
	height: 15em
}
.team-member__photo__link {
	display: inline-block;
	cursor: pointer;
}
.team-member__name {
	font-size: 1em;
	letter-spacing: .1em;
	text-transform: uppercase;
}
.team-member__about {}

.footer {}
.footer__bar {
	background-color: #f0f0f0;	
}
.footer__copyright {
	font-size: 1em;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	color: #999999;
	padding-top: 1.4em;
	padding-bottom: 1.4em;
	text-align: center;
}
